body {
	background-color: #3a3e42;
	color: #f6f6f6;
}

h1 {
	font-family: Tahoma, sans-serif;
	font-style: normal;
}

nav {
	font-family: Tahoma, sans-serif;
	font-style: normal;
}

nav li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

p {
	font-family: Tahoma, sans-serif;
	font-style: normal;
}