/* universal body rules */
/* choice of color inspired by discord, for both good contrast and readability */
body {
	background-color: #3a3e42;
	color: #f6f6f6;
}

/* page title rules */
/* tahoma is used because it is available on most platforms, simple, and easily readable */
h1 {
	font-family: Tahoma, sans-serif;
	font-style: normal;
	left-padding: 20px;
}

/* navigation rules */
nav {
	font-family: Tahoma, sans-serif;
	font-style: normal;
}

nav a {
	display: inline-block;
	border-radius: 2em;
	border: 2px solid #646a70;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

nav a:link {
	color: #f6f6f6;
}

nav a:visited {
	color: #f6f6f6;
}

nav a:hover {
	background-color: #646a70;
	color: #f6f6f6;
}

nav a:active {
	background-color: #f6f6f6;
	color: #646a70;
	font-weight: bold;
}

/* paragraph rules */
p {
	font-family: Tahoma, sans-serif;
	font-style: normal;
	text-indent: 4em;
}

/* column rules */
.body {
	display: flex;
	flex-direction: row;
}

.column {
	padding: 10px;
}

.left {
	width: 20%;
}

.right {
	width: 80%;
}

/* make paragraphs in the right column roughly centered */
div.right p {
	width: 75%;
}

/* image-caption pair rules */
.imgpair {
	max-width: 75%;
	border-radius: 2em;
	border: 2px solid #646a70;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

div.imgpair img {
	max-width: 100%;
}

/* override the change to paragraph width for image captions */
div.imgpair p {
	width: 100%;
}

/* form rules */
label {
	font-family: Tahoma, sans-serif;
	font-style: normal;
}

input {
	font-family: Tahoma, sans-serif;
	font-style: normal;
	color: "black";
}

input.button {
	font-family: Tahoma, sans-serif;
	font-style: normal;
	color: "black";
}

textarea {
	font-family: Tahoma, sans-serif;
	font-style: normal;
	color: "black";
}
